h1 {
    background-color: grey;
    color: white;
    text-align: center;
     }
p { 
    height: 100px;
    width: 25%;
    background-color: grey;
    color: white;
}
footer {
    text-align: center;
    background-color: grey;
    color: white;
}
