h1 {
    background-color: grey;
    color: white;
    text-align: center;
     }
section { 
    width: 75%;
    background-color: grey;
    color: white;
}
aside{ 
    float: right;
}
footer {
    text-align: center;
    background-color: grey;
    color: white;
}
